*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    position: absolute;
    left: -5000px;
}
@font-face{
    src: url("../fonts/DoHyeon-Regular.ttf");
    font-family: 'Do Hyeon', sans-serif;
}
html{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
body{
    position: relative;
    margin: 0px;
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
    color: #666;
    background-color: #333;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    display: block;
    width: 100%;
}
.box{
    display: table;
    text-align: center;
    float: left;
}   
.box .left{
    position: absolute;
    height: 100vh;
    padding: 0;
    width: 25%;
}
.box .left .top{
    position: absolute;
    height: 469px;
    width: 25%;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border: 10px solid #fff;
}
.box .left .bottom{
    width: 100%;
    height: 469px;
    border: 10px solid #fff;
    float: left;
    background-color: aquamarine;
    text-align: center;
    line-height: 469px;
    margin-top: 469px;
}
.box .left li:nth-of-type(1){
    height: 229px;
    line-height: 229px;
    background-color: yellow;
}
.box .left li:nth-of-type(1):hover{
    color: #666;
}
.box .left li:nth-of-type(2){
    height: 229px;
    line-height: 229px;
    background-color: red;
}
.box .left li:nth-of-type(2):hover{
    color: #666;
}
.box .right{
    position: absolute;
    display: inline-block;
    width: 75%;
    height: 100vh;
    margin-left: 25%;
    padding: 0;
}
.box .right li{
    float: left;
    width: 33.33%;
}
.box .right li:nth-of-type(1){
    background-color: #000;
    height: 469px;
    line-height: 469px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.box .right li:nth-of-type(2){  
    background-color: #e37063;
    height: 469px;
    line-height: 469px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.box .right li:nth-of-type(3){
    background-color: #a3c675;
    height: 469px;
    line-height: 469px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.box .right li:nth-of-type(4){
    background-color: #f9b948;
    height: 469px;
    line-height: 469px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.box .right li:nth-of-type(5){
    background-color: #6e6d85;
    height: 469px;
    line-height: 469px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.box .right li:nth-of-type(6){
    background-color: #75cbd1;
    height: 469px;
    line-height: 469px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.box .right li:hover{
    color: #666;
}